

<h1>Opinions</h1>

<!--%=# render :partial => 'list', :locals => {:opinions => @opinions } %-->

<%= render 'list', opinions: @opinions %>

<br>

<% if current_user.supplier? %>
<%= link_to 'New Opinion', new_opinion_path %>
<% end %>
