<h1>Users</h1>
<p>Here are all of our users, check their opinoins</p>
<ul>
  <% @users.each do |user| %>
    <li>
      <% if user.supplier? %>
        <%= link_to user.username + ' - Official supplier', "/users/" + user.id.to_s  %>
      <% elsif user.admin? %>
        <%= link_to user.username + ' - Admin', "/users/" + user.id.to_s  %>
      <% else %>
        <%= link_to user.username, "/users/" + user.id.to_s  %>
      <% end %>
    </li>
  <% end %>
</ul>