<h1><%= @user.email %> with the id <%= @user.id %></h1>
<h2>greets you to his humble page, and would be flattered to know you read his oppinions about shit</h2>


<ul>
  <%= render 'opinions/list', opinions: @user.opinions %>
</ul>
